body {
  font-family: Times New Roman;
  background-color: #9BEDEA;
}

<meta name="viewport" content="width=device-width, initial-scale=1">

@-ms-viewport{
  width: device-width;
}

header ul.site-nav {
  padding-left: 0;
  border-top: 1px solid Red;
  border-bottom: 1px solid Red;
  list-style: none;
}

header ul.site-nav li.site-nav-item {
  padding: 5px;
}

header ul.site-nav li.site-nav-item:last-child {
  border-bottom: none;
}

header ul.site-nav li.site-nav-item a {
  color: blue;
  padding: 5px;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}

header ul.site-nav li.site-nav-item a:hover {
  background-color: White;
}

img {
  max-width: 100%;
  height: auto;
}

div.profdev-body h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}

article h1 {
  width: 100%;
  text-align: center;
  font-size: 30px;
}

article h1.page-title {
  font-size: 25px;
  line-height: 1.2em;
}

header h1.information {
  font-weight: normal;
}

article h2 {
  font-size: 18px;
}

article h2.job {
  margin-top: 30px;
}

article h2.skills {
  margin-top: 30px;
}

article h2.class-list {
  margin-top: 40px;
}

article p.school-name {
  text-decoration: underline;
  margin-top: 20px;
}

article p.school-name2 {
  text-decoration: underline;
  margin-top: 30px;
}

article p.presentation {
  text-decoration: underline;
}

article figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media all and (min-width: 768px) {
  article figure {
    width: 200px;
    padding: 5px;
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
}

@media all and (min-width: 450px) {
  header ul {
    display: flex;
    gap: 2vw;
    justify-content: center;
  }
}

  .container {
    width: 96%;
    max-width: 1300px;
    margin: 0 auto;
  }

  footer#page-footer {
    background-color: black;
    color: white;
  }

  footer#page-footer ul.site-nav {
    list-style: none;
    padding-left: 0;
  }

  @media all and (min-width: 376px) {
    footer#page-footer ul.site-nav{
      display: flex;
      gap: 2vw;
      justify-content: center;
    }
  }

  footer#page-footer ul.site-nav li.site-nav-item {
    padding: 5px;
  }

  footer p {
    padding-top: 15px;
    padding-left: 15px;
  }

  footer ul.site-nav li.site-nav-item:last-child {
    border-bottom: none;
  }

  footer ul.site-nav li.site-nav-item a {
    color: white;
    padding: 5px;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
  }

  footer ul.site-nav li.site-nav-item a:hover {
    text-decoration: underline;
  }
